.btn
  padding: 0px 24px
  height: 42px
  display: inline-block
  border: 2px solid
  +border-radius(42px)
  font-size: $small
  font-weight: 400
  line-height: 36px
  transition: 0.3s ease

  &:hover
    border-color: transparent

.btn-black
  border-color: $black
  color: $black

  &:hover
    background-color: $black
    color: $white

.btn-white
  border-color: $white-06
  color: $white-06

  &:hover
    background-color: $white-08
    color: $darkgrey

// .btn-cta
//   border-color: rgba($green, 0.8)
//   color: $green

//   &:hover
//     background-color: rgba($green, 0.8)
//     color: $white

// .btn-love
//   &:hover
//     background-color: rgba($red, 0.8)
//     border-color: white
//     color: white
//     opacity: 0.8

// .btn-circled
//   width: 42px
//   padding: 0
//   text-align: center

// .btn-split-left
//   float: left
//   margin-right: 18px

// .btn-split-right
//   float: right
//   margin-left: 18px





